@media screen and (max-width: 600px) {

    .menu__link{
        padding: 0 0.2rem;
    }

    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__principal,
    .destaques__categorias {
        grid-column: 1 / 5;
    }

    .populares__contenido{
        flex-direction: column;
    }

    .populares__card{
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 601px ) and (max-width: 900px) {
    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__principal,
    .destaques__categorias {
        grid-column: 1 / 5;
    }

    .populares__contenido{
        display: grid;
        grid-gap: .2rem;
        grid-template-columns: 50% 50%;
    }

    .populares__card{
        width: 100%;
        margin-bottom: 3rem;
    }

}
